<div class="main-page">
    <mat-drawer-container class="page-container">
        <mat-drawer #drawer class="sidenav-container" [mode]="!isMobile ? 'side' : 'over'">

            <mat-list class="menu-container">
                <div mat-subheader class="menu-headline">Elektrárny</div>

                <mat-list-item *ngFor="let powerplant of powerplants">
                    <div matListItemTitle (click)=" isMobile? drawer.close():0; mapShowPowerPlant(powerplant)">
                        <a>
                            <button mat-button class="menu-item">
                                <span>{{ powerplant.name }}</span>
                            </button>
                        </a>
                    </div>
                </mat-list-item>

            </mat-list>

        </mat-drawer>

        <div class="content-container">
            <mat-toolbar class="top-toolbar">
                <div class="top-toolbar"> 
                    <button mat-icon-button color="secondary" aria-label="List of powerplants" (click)="drawer.toggle()"
                        class="drawer-button">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <span>Uhelné elektrárny v ČR</span>
                </div>

                <div>
                    <button mat-icon-button color="secondary" 
                        class="info-button" (click)="infocardwrapper.classList.remove('info-card-disabled');infocardwrapper.classList.add('info-card-enabled');">
                        <mat-icon>info</mat-icon>
                    </button>
                </div>

            </mat-toolbar>



            <div class="map-container">
                <mgl-map #mapa [style]="'assets/slepa_mapa_osm_prod.json'" [zoom]="[6.4]" [center]="[15.5, 49.8]"
                    (mapLoad)="mapLoaded($event)">
                </mgl-map>
            </div>


            <div #detailcard class="detail-card-wrapper">
                <mat-card class="detail-card">
                    <div class="detail-card-icons-wrapper" (click)="detailsToggleClicked()"
                        *ngIf="powerplant_details != null">
                        <div *ngIf="!detail_card_expanded">
                            <mat-icon>expand_less</mat-icon> více <mat-icon>expand_less</mat-icon>
                        </div>
                        <div *ngIf="detail_card_expanded">
                            <mat-icon>expand_more</mat-icon> méně <mat-icon>expand_more</mat-icon>
                        </div>
                    </div>
                    <mat-card-content class="detail-card-content-wrapper">
                        <div *ngIf="powerplant_details != null" class="detail-card-content">
                            <div class="detail-text-wrapper">
                                <h2>{{powerplant_details.name}}</h2>
                                <p><b>Místo: {{powerplant_details.place}}</b></p>
                                <p>Roky v provozu: {{powerplant_details.years_in_service}}</p>
                                <p>Výkon: {{powerplant_details.power}}</p>
                                <p>Druh: {{powerplant_details.type}}</p>
                                <p>Vlastník: {{powerplant_details.owner}}</p>
                                <div [innerHtml]="powerplant_details.description_short"></div>
                                <div [innerHtml]="powerplant_details.description1"></div>
                                <div [innerHtml]="powerplant_details.description2"></div>
                                <div [innerHtml]="powerplant_details.description3"></div>
                                <div [innerHtml]="powerplant_details.description4"></div>
                                <div [innerHtml]="powerplant_details.description5"></div>
                                <div [innerHtml]="powerplant_details.description6"></div>
                                <div>
                                    <h5>Zdroje:</h5>
                                    <div [innerHtml]="powerplant_details.sources1"></div>
                                    <div [innerHtml]="powerplant_details.sources2"></div>
                                </div>
                            </div>
                            <div class="images-wrapper">
                                <img src="assets/img/ceske_budejovice1.jpg" style="width: 100%;"> 
                            </div>
                        </div>
                        <div *ngIf="powerplant_details == null" class="no-selected-powerplant-info">

                            Vyberte elektrárnu z mapy nebo ze seznamu
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </mat-drawer-container>


    <div #infocardwrapper class="info-card-enabled">
        <mat-card  class="info-card">
            <div class="info-card-icons-wrapper" (click)="infocardwrapper.classList.remove('info-card-enabled');infocardwrapper.classList.add('info-card-disabled');">
                    <mat-icon>close</mat-icon>
            </div>
            <mat-card-content class="info-card-content-wrapper">
                <h2>Přehled uhelných elektráren v ČR</h2>
                Semestrální projekt HVT<br><br>

                tady bude asi nějaký popis a komentář k celému projektu
            </mat-card-content>
        </mat-card>
    </div>



</div>