<div class="detail-card-content">
    <div class="detail-text-wrapper">
        <h2>{{powerplant_details.name}}</h2>
        <p><b>Místo: {{powerplant_details.place}}</b></p>
        <p>Roky v provozu: {{powerplant_details.years_in_service}}</p>
        <p>Výkon: {{powerplant_details.power}}</p>
        <p>Druh: {{powerplant_details.type}}</p>
        <p>Vlastník: {{powerplant_details.owner}}</p>
        <div #description [innerHtml]="powerplant_details.description_short"></div>
        <div #description [innerHtml]="powerplant_details.description1"></div>
        <div #description [innerHtml]="powerplant_details.description2"></div>
        <div #description [innerHtml]="powerplant_details.description3"></div>
        <div #description [innerHtml]="powerplant_details.description4"></div>
        <div #description [innerHtml]="powerplant_details.description5"></div>
        <div #description [innerHtml]="powerplant_details.description6"></div>
        <div #description [innerHtml]="powerplant_details.description7"></div>
        <div>
            <h5>Zdroje:</h5>
            <div [innerHtml]="powerplant_details.sources1"></div>
            <div [innerHtml]="powerplant_details.sources2"></div>
        </div>
    </div>
    <div class="images-wrapper">
        <img src="assets/img/ceske_budejovice1.jpg" style="width: 100%;">
    </div>
</div>